# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

master
static/RAs/ra1/RA1/RA1.pdf
static/RAs/ra2/RA2/RA2.pdf
static/RAs/ra3/RA3/RA3.pdf
static/RAs/ra4/RA4/RA4.pdf
static/RAs/ra5/RA5/RA5.pdf
static/RAs/ra6/RA6/RA6.pdf